# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
.venv-test/
venv/

# Build
build/
dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Runtime
.env
.env.*
*.log
coverage.xml
htmlcov/
.data/

# Node
node_modules/
.next/
.next_stale_*/
out/
